<div class="dialog">
  <h2 mat-dialog-title>上傳商品</h2>
  <div mat-dialog-content>
    <form [formGroup]="productForm" novalidate>
      <mdb-form-control>
        <input mdbValidate mdbInput type="text" id="title" class="form-control title" formControlName="title"
          maxlength="30" required />
        <label mdbLabel class="form-label" for="title">商品名稱</label>
      </mdb-form-control>

      <mdb-form-control>

        <textarea mdbValidate mdbInput type="text" id="content" row="10" autocomplete="false"
          class="form-control content" formControlName="content" maxlength="100" required></textarea>
        <label mdbLabel class="form-label" for="content">簡介</label>
      </mdb-form-control>
      <mdb-form-control>

        <input mdbValidate mdbInput type="number" min="0" id="title" class="form-control title" formControlName="price"
          required />
        <label mdbLabel class="form-label" for="title">價格</label>
      </mdb-form-control>

      <!-- Product status -->
      <h3>商品狀態</h3>
      <div class="status mt-2">
        <mdb-form-control>
          <input mdbValidate mdbInput type="text" id="status" class="form-control status" formControlName="status"
            maxlength="30" autocomplete="false" required />
          <label mdbLabel class="form-label" for="status">二手、極新...</label>
        </mdb-form-control>
      </div>
      <!-- Product tags -->
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let tag of tags" (click)="selectTag(tag.tagName)"
          [selected]="tag.tagName==this.productForm.value.tagName">{{tag.tagName}}</mat-chip-option>
      </mat-chip-listbox>
      <!-- Product tags -->
    </form>


    <!-- Image upload -->
    <h3 *ngIf="!isCreated">附加圖片（第一張是貼文圖片預覽）</h3>
    <ul class="p-0">
      <li class="upload-image" *ngFor="let image of productImages; index as i;">
        <input type="file" accept="image/jpg, image/jpeg, image/png" id="image{{i}}" #uploadImage
          (change)="onImageUpload(i, $event)" hidden />
        <ng-container *ngIf="productImages[i].name!=='' else imageEmpty">
          <i class="fas fa-check-circle"></i>
        </ng-container>
        <ng-template #imageEmpty><i class="far fa-check-circle"></i></ng-template>

        <button class="btn shadow-0 upload" (click)="uploadImage.click()">
          <i class="me-2 fas fa-file-upload fa-2x"></i>
          {{ productImages[i].name || "尚無檔案" }}
        </button>

        <button class="btn shadow-0 remove" (click)="onImageRemove(i)">
          <i class="fas fa-trash-alt fa-lg"></i>
        </button>
      </li>
    </ul>
    <!-- Image upload -->

    <!-- display upload icon -->
    <p *ngIf="!productForm.valid">請完成貼文！</p>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">取消</button>
    <button mat-button type="submit" *ngIf="!isCreated" [disabled]="!productForm.valid || isSending"
      (click)="createProduct()">發布</button>
    <button mat-button type="submit" *ngIf="isCreated" [disabled]="!productForm.valid || isSending"
      (click)="createProduct()">儲存修改</button>
  </div>
  <ng-container *ngIf="isFailure">
    <p class="text-danger">發布失敗，請重試</p>
  </ng-container>