$danger: #dc4c64;
h2 {
  margin: 0 !important;
  padding-top: 1rem;
}
h3 {
  padding: 0;
  margin: 1rem 0 0 0;
  font-weight: bold;
}
textarea {
  resize: none;
}

.wrapper {
  background-color: #ffffff;
  height: 100%;
  display: grid !important;
  grid-template-rows: 1fr 7fr 1fr;
  flex-direction: column;
  //justify-content: space-between;
}
.dialog{
  max-height: 80vh;
}
.title {
  color: #4e6766;
  border-radius: 5px;
  margin: 0.5rem auto;
  height: 2rem;
  &:focus {
    outline: none;
  }
}

.content {
  color: #4e6766;
  border-radius: 5px;
  margin: 1rem auto;
  height: 10rem;
  &:focus {
    outline: none;
  }
}

.product-list {
  padding: 0;
  ul {
    padding: 0;
  }
}

.upload-image {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  .upload {
    display: flex;
    cursor: pointer;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
  }
  .remove {
    margin-right: 5em;
    &:hover {
      color: $danger;
    }
  }
}

.example-chip-list {
  width: 100%;
}
.tag {
  background-color: #4e98a0;
}
.actions {
  margin-top: auto;
}
