<div class="wrapper">
  <h1>帳號驗證</h1>
  <p>帳號： {{account}} </p>
  <a class="back-link" [routerLink]="['/auth']">帳號錯誤？<b>重新登入</b></a>

  <form class="verify my-5" autocomplete="off">

    <input type="text" [(ngModel)]="code[0]" name='item_0' maxlength="1" (keypress)="valLimit($event)"
      (keyup)="moveFocus($event, '', item_0,item_1)" (paste)="item_0.blur(); onPaste($event)" class="verify-code"
      #item_0 autofocus />
    <input type="text" [(ngModel)]="code[1]" name="item_1" maxlength="1" (keypress)="valLimit($event)"
      (keyup)="moveFocus($event,  item_0, item_1,item_2)" (paste)="item_1.blur(); onPaste($event)" class="verify-code"
      #item_1 />
    <input type="text" [(ngModel)]="code[2]" name="item_2" maxlength="1" (keypress)="valLimit($event)"
      (keyup)="moveFocus($event,  item_1, item_2,item_3)" (paste)="item_2.blur();onPaste($event)" class="verify-code"
      #item_2 />
    <input type="text" [(ngModel)]="code[3]" name="item_3" maxlength="1" (keypress)="valLimit($event)"
      (keyup)="moveFocus($event,  item_2, item_3,item_4)" (paste)="item_3.blur();onPaste($event)" class="verify-code"
      #item_3 />
    <input type="text" [(ngModel)]="code[4]" name="item_4" maxlength="1" (keypress)="valLimit($event)"
      (keyup)="moveFocus($event,  item_3, item_4,item_5)" (paste)="item_4.blur();onPaste($event)" class="verify-code"
      #item_4 />
    <input type="text" [(ngModel)]="code[5]" name="item_5" maxlength="1" (keypress)="valLimit($event)"
      (keyup)="moveFocus($event,  item_4, item_5,'')" (paste)="item_5.blur();onPaste($event)" class="verify-code"
      #item_5 />



    <button type="submit" id='verify-submit' class="btn btn-light" (click)="verify()">submit</button>

  </form>

</div>