$danger: #dc4c64;

:host {
  cursor: default;
}
.wrapper {
  height: 100%;
  padding: 0 2rem;
  background-color: white;
  h2 {
    font-weight: bolder;
    font-size: large;
    margin: 0 !important;
    padding-top: 1rem;
  }
  .order {
    width: 6rem;
    padding: 0.4rem;
    font-size: medium;
    background-color: #74bfbe;
    box-shadow: 0 4px 9px -4px #74bfbe;
  }
  .info {
    .info-bar {
      display: flex;
      .time {
        display: flex;
        align-items: center;
        font-size: small;
        margin-bottom: 0;
      }
      .delete {
        &:hover {
          color: $danger;
        }
      }
    }

    .img {
      max-height: 15rem;
      margin: 0 auto;
    }
    .status {
      font-size: smaller;
      font-weight: 500;
      color: #666;
    }
  }
}
mdb-carousel-item {
  height: 20rem !important;
}
