<!--h2 mat-dialog-title>選擇發布</h2-->
<div class="wrapper d-flex flex-column">
  <h2 mat-dialog-title>{{product.title}}</h2>
  <div mat-dialog-content class="flex-grow-1" style="max-height: none !important;">

    <button *ngIf="product.sellStatus!=='sold' && user!==product.account" class="btn btn-warning order" mdbRipple
      (click)="order(product.productId)" [disabled]="product.sellStatus==='pending'">我要買！</button>
    <p *ngIf="product.sellStatus==='pending'" style="color: orange;">已被預訂</p>
    <p *ngIf="product.sellStatus==='sold'" style="color: red;">已售出</p>

    <div class="info">
      <div class="info-bar">
        <p class="text-muted time">最後編輯：{{product.lastEdit}}</p>
        <button class="btn ms-auto shadow-none" *ngIf="user==product.account" (click)="onEdit()"><i
            class="fas fa-pen m-1"></i>編輯商品</button>
        <button class="btn mx-1 shadow-none delete" *ngIf="user==product.account" (click)="onDelete()"><i
            class="fas fa-trash-alt"></i>刪除</button>

      </div>
      <p class="status">商品狀態：{{product.status}}</p>
      <p style="white-space: pre-wrap;">{{product.content}}</p>

      <mdb-carousel *ngIf="imageNum>1" [controls]="true" [indicators]="true" [interval]="0" [dark]="true">
        <mdb-carousel-item *ngIf="product.image1!==null">
          <img src="{{'data:image/jpg;base64,' + product.image1}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
        <mdb-carousel-item *ngIf="product.image2!==null">
          <img src="{{'data:image/jpg;base64,' + product.image2}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
        <mdb-carousel-item *ngIf="product.image3!==null">
          <img src="{{'data:image/jpg;base64,' + product.image3}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
      </mdb-carousel>

      <!-- Dealt image only has one error -->
      <mdb-carousel *ngIf="imageNum==1" [indicators]="true" [interval]="0" [dark]="true">
        <mdb-carousel-item *ngIf="product.image1!==null">
          <img src="{{'data:image/jpg;base64,' + product.image1}}" class="d-block w-auto img mx-auto" alt="..." />
        </mdb-carousel-item>
        <mdb-carousel-item *ngIf="product.image2!==null">
          <img src="{{'data:image/jpg;base64,' + product.image2}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
        <mdb-carousel-item *ngIf="product.image3!==null">
          <img src="{{'data:image/jpg;base64,' + product.image3}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
      </mdb-carousel>




    </div>
  </div>

</div>