$danger: #dc4c64;

:host {
  cursor: default;
}
.wrapper {
  height: 100%;
  padding: 0 2rem;
  background-color: white;
  h2 {
    font-weight: bolder;
    font-size: large;
    margin: 0 !important;
    padding-top: 1rem;
  }
  .info {
    .info-bar {
      display: flex;
      .time {
        font-size: small;
        // text-align: end;
      }
      .delete {
        &:hover {
          color: $danger;
        }
      }
    }

    .img {
      max-height: 15rem;
      margin: 0 auto;
    }
  }
}
mdb-carousel-item {
  height: 20rem !important;
}
