<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container navbar-nav">
    <a class="navbar-brand" routerLink="/home">GP</a>

    <!--Toggle button-->
    <button class="navbar-toggler" type="button" (click)="noListNav.toggle()" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->

    <div class="collapse navbar-collapse" mdbCollapse #noListNav="mdbCollapse">
      <!-- Left links -->
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" aria-current="page" routerLink="/home">Home</a>

        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
      <!-- Left links -->
      <!-- Right links -->
      <div class="d-flex align-items-center">
        <!-- Dropdown menu -->

        <div mdbDropdown class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink" role="button"
            mdbDropdownToggle aria-expanded="false">
            <!--img src="https://i.imgur.com/UShDGAR.jpeg" class="rounded-circle" height="22" alt="" loading="lazy" /-->
            <ng-boring-avatars-beam-avatar name="Nick LAI"
              [colors]="['#a3a948','#edb92e','#f85931','#ce1836','#009989']"
              [inputSize]="30"></ng-boring-avatars-beam-avatar>
          </a>
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
        <!-- Dropdown menu -->
      </div>
      <!-- Right links -->

    </div>
  </div>
</nav>