<nav class="shadow-0  navbar navbar-expand-lg navbar-light">
  <div class="container-md">
    <!-- menu bar -->
    <!--div class="nav-item">
      <a class="nav-link "><span class="fas fa-bars" (click)="menuController()"></span> </a>
    </div>

    <!-- Navbar brand -->
    <a class="navbar-brand mx-2 col-2" routerLink="/home"><img
        src="https://images.plurk.com/19nHH7ZSNk7EopZFo0tCpW.png " height="50" width="80" /></a>
    <!-- Navbar brand -->

    <!-- Left links >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li>
        <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
      </li>
    </ul>
    <!-- Left links -->

    <!-- Right links -->
    <!-- Search bar -->
    <div class="d-flex search">
      <!--mdb-form-control>
        <input mdbInput class="form-control" id="formControlDisabled" type="text" placeholder="Disabled input"
          aria-label="disabled input example" [disabled]="isSearch" (keydown.enter)="onSearch(search);" #search />
        <label mdbLabel class="form-label" for="formControlDisabled">Disabled</label>
        <button class="icon" [disabled]="isSearch" (click)="onSearch(search)">
          <i class="fas fa-search"></i>
        </button>
      </mdb-form-control-->
      <form class="d-flex input-group w-auto">
        <input type="search" class="search-field form-control rounded" placeholder="切換至商品頁搜尋" #search
          (keydown.enter)="onSearch(search);" [disabled]="isSearch" [disabled]="isSearch" />
      </form>
      <div mdbDropdown class="dropdown">
        <button class="btn shadow-0 search-button dropdown-toggle" mdbDropdownToggle
          type="button">{{searchArea}}</button>
        <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end search-option">
          <li><button class="d-flex justify-content-center dropdown-item" value="product"
              (click)="selectOption('product')">商品</button></li>
          <li><button class="d-flex justify-content-center dropdown-item disabled" value="post"
              (click)="selectOption('post')">貼文</button></li>
        </ul>
      </div>
    </div>

    <!-- Search bar -->

    <ul class="nav-bar d-flex align-items-center">
      <li mdbDropdown class="nav-item dropdown  setting-menu">
        <a class="nav-link dropdown-toggle mt-3" role="button" mdbDropdownToggle>
          <ng-boring-avatars-beam-avatar class="mx-2" name="Account"
            [colors]="['#F6F6EF','#FFFFFF','#8B6262','#4DBCE9','#26ADE4']"
            [inputSize]="30"></ng-boring-avatars-beam-avatar>
        </a>
        <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-lg-end">
          <li>
            <a class="dropdown-item">訂單資訊</a>
          </li>
          <li>
            <a class="dropdown-item">個人檔案</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">登出</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Right links -->
  </div>

</nav>