<nav class="shadow-0  navbar navbar-expand-lg navbar-light">
  <div class="container-md">
    <!-- menu bar -->
    <div class="nav-item">
      <a class="nav-link "><span class="fas fa-bars" (click)="menuController()"></span> </a>
    </div>

    <!-- Navbar brand -->
    <a class="navbar-brand mx-3" routerLink="/home"><img src="../../../assets/rooftop.png" height="50" width="80" /></a>
    <!-- Navbar brand -->

    <!-- Left links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li>
        <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
      </li>
      <li>
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <!-- Left links -->

    <!-- Right links -->
    <!-- Search bar -->
    <form class="d-flex input-group w-auto">
      <input type="search" class="form-control rounded" placeholder="Search" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
    <!-- Search bar -->

    <ul class="nav-bar d-flex align-items-center">
      <li mdbDropdown class="nav-item dropdown  setting-menu">
        <a class="nav-link dropdown-toggle mt-3" role="button" mdbDropdownToggle>
          <ng-boring-avatars-beam-avatar class="mx-2" name="Account"
            [colors]="['#F6F6EF','#FFFFFF','#8B6262','#4DBCE9','#26ADE4']"
            [inputSize]="30"></ng-boring-avatars-beam-avatar>
        </a>
        <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-lg-end">
          <li>
            <a class="dropdown-item">Profile</a>
          </li>
          <li>
            <a class="dropdown-item">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Right links -->
  </div>

</nav>