nav {
  height: 100%;
  padding: 0;
  background-color: #eee;
}
.menu {
  cursor: pointer;
}
.setting-menu {
  margin-right: 3rem;
}
.search-class {
  border: #666 2px solid;
  border-radius: 0.25rem;
}

.search {
  .search-field {
    height: 2rem;
    border-radius: 0.25rem 0 0 0.25rem !important;
    border: #666 2px solid;
  }
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    padding: 0;
    height: 2.2rem;
    width: 6rem;
    border: #666 2px solid;
    border-radius: 0 0.25rem 0.25rem 0;
  }
  .search-option {
    width: 6rem !important;
  }
  .dropdown-item {
    display: flex;
    justify-content: center;
  }
}
