:host {
  background-color: #f9f8f8;
  height: 100%;
}

.auth-form {
  margin-top: 5rem;
  width: 75%;
}

/*#username {
  //display: block;
}
#password {
  //display: block;
}
*/
button {
  margin: 10%;
}

#back-btn {
  margin: 0 80% 80% 0;
  text-align: left;
  float: left;
}
a {
  cursor: pointer;
}
.field {
  width: 30%;
}
