<div class="dialog">
  <h2 mat-dialog-title>建立貼文(我還沒接api)</h2>
  <div mat-dialog-content>
    <!-- Post title -->
    <mdb-form-control>
      <input mdbInput type="text" id="title" class="form-control title" [(ngModel)]="post.title" required />
      <label mdbLabel class="form-label" for="title">標題</label>
    </mdb-form-control>

    <!-- Post content -->
    <mdb-form-control>
      <textarea mdbInput type="text" id="content" row="10" autocomplete="false" class="form-control content"
        [(ngModel)]="post.content" maxlength="400" required></textarea>
      <label mdbLabel class="form-label" for="content">內容</label>
    </mdb-form-control>

    <!-- Post status -->
    <h3>商品狀態</h3>
    <div class="status">
      <div class="form-check">
        <input mdbRadio class="form-check-input" type="radio" name="sellOptionsRadio" id="sellingRadio" [checked]="true"
          [(ngModel)]="post.status" value="selling" />
        <label class="form-check-label" for="sellingRadio">販售中</label>
      </div>
      <div class="form-check">
        <input mdbRadio class="form-check-input" type="radio" name="sellOptionsRadio" id="waitingRadio"
          [(ngModel)]="post.status" value="temp_sold" />
        <label class="form-check-label" for="waitingRadio">暫售</label>
      </div>
      <div class="form-check">
        <input mdbRadio class="form-check-input" type="radio" name="sellOptionsRadio" id="soldRadio"
          [(ngModel)]="post.status" value="sold" />
        <label class="form-check-label" for="soldRadio"> 已售出 </label>
      </div>
    </div>

    <!-- Post products -->
    <h3>連結商品</h3>
    <div class="form-check product-list">
      <p *ngIf="proudctList==null">沒有商品</p>
      <ul>
        <li *ngFor="let product of proudctList; index as i;">
          <div class="form-check">
            <input mdbCheckbox class="form-check-input" type="checkbox" id="flexCheckDefault"
              [(ngModel)]="post.productsId[i]" />
            <label class="form-check-label" for="flexCheckDefault">
              {{product.title}}
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">取消</button>
    <button mat-button mat-dialog-close>發布</button>
  </div>
</div>