<div class="dialog">
  <h2 mat-dialog-title>建立貼文</h2>
  <div mat-dialog-content>
    <!-- Post title -->
    <mdb-form-control>
      <input mdbInput type="text" id="title" class="form-control title" maxlength="10" [(ngModel)]="post.title"
        required />
      <label mdbLabel class="form-label" for="title">標題</label>
    </mdb-form-control>

    <!-- Post content -->
    <mdb-form-control>
      <textarea mdbInput type="text" id="content" row="10" autocomplete="false" class="form-control content"
        [(ngModel)]="post.content" maxlength="1200" required></textarea>
      <label mdbLabel class="form-label" for="content">內容</label>
    </mdb-form-control>

    <!-- Post products -->
    <h3>連結商品</h3>
    <div class="form-check product-list">
      <ng-container *ngIf="!isProductLoad; else isLoad;">
        <p *ngIf="!isProductLoad">商品載入中......</p>
      </ng-container>
      <ng-template #isLoad>
        <ng-container>
          <p *ngIf="proudctList==null else showProduct">沒有商品</p>
        </ng-container>
        <ng-template #showProduct>
          <ul>
            <li *ngFor="let product of proudctList; index as i;">
              <div class="form-check">
                <input mdbCheckbox class="form-check-input" type="checkbox" [id]="product.productId"
                  [(ngModel)]="isSelectProduct[i]" (click)="debug()" />
                <label class="form-check-label" [for]="product.productId">
                  {{product.title}}
                </label>
              </div>
            </li>
          </ul>
        </ng-template>
      </ng-template>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">取消</button>
    <button mat-button (click)="onSubmit()">發布</button>
  </div>
</div>