h3 {
  padding: 0;
  margin: 1rem 0 0 0;
  font-weight: bold;
}
textarea {
  resize: none;
}
.dialog {
  background-color: #ffffff;
}
.title {
  color: #4e6766;
  border-radius: 5px;
  margin: 0.5rem auto;
  height: 2rem;
  &:focus {
    outline: none;
  }
}

.content {
  color: #4e6766;
  border-radius: 5px;
  margin: 1rem auto;
  height: 10rem;
  &:focus {
    outline: none;
  }
}

.product-list {
  padding: 0;
  ul {
    padding: 0;
  }
}
