.wrapper {
  //max-height: 10rem;
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;*/
  /**column-count: 2;
  column-gap: 0;*/
  margin: 8px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 60rem;
}
.product {
  //align-content: flex-end;
  width: 32%;
  break-inside: avoid;
  cursor: pointer;

  .content {
    .card-title {
      font-size: medium;
    }

    .option {
      box-shadow: none;
      border-radius: 50px;
      &:hover {
        background-color: #bbb;
      }
    }
    //margin-bottom: 1rem;
    max-height: 12rem;
    text-align: left;
    padding: 0.5rem 1.2rem;
  }
}
.time {
  font-size: smaller;
}
