$bg-color: gray;
:host {
  height: 100vh;
  background-color: #fff;
}
a {
  cursor: pointer;
}
header {
  height: 12vh;
}

mat-drawer {
  //background-color: #9bc1c1;
  width: 15rem;
}
mat-drawer-container {
  height: 88vh;
  flex-grow: 1;
  background-color: #fff;
}
