<!--h2 mat-dialog-title>選擇發布</h2-->
<div class="wrapper d-flex flex-column">
  <div mat-dialog-title class="d-flex">
    <ng-boring-avatars-beam-avatar class="mx-2" [name]="post.account"
      [colors]="['#F6F6EF','#FFFFFF','#8B6262','#4DBCE9','#26ADE4']" [inputSize]="30"></ng-boring-avatars-beam-avatar>
    <h2>{{post.account}}</h2>
  </div>
  <div mat-dialog-content class="flex-grow-1" style="max-height: none !important;">
    <h2>{{post.title}}</h2>
    <div class="info">
      <div class="info-bar">
        <p class="text-muted time">最後編輯：{{post.lastEdit}}</p>
        <button class="btn ms-auto shadow-none" *ngIf="user==post.account" (click)="onEdit()"><i
            class="fas fa-pen m-1"></i>編輯商品</button>
        <button class="btn mx-1 shadow-none delete" *ngIf="user==post.account" (click)="onDelete()"><i
            class="fas fa-trash-alt"></i>刪除</button>

      </div>
      <p style="white-space: pre-wrap;">{{post.content}}</p>

      <!--mdb-carousel *ngIf="imageNum>1" [controls]="true" [indicators]="true" [interval]="0" [dark]="true">
        <mdb-carousel-item *ngIf="product.image1!==null">
          <img src="{{'data:image/jpg;base64,' + product.image1}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
        <mdb-carousel-item *ngIf="product.image2!==null">
          <img src="{{'data:image/jpg;base64,' + product.image2}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
        <mdb-carousel-item *ngIf="product.image3!==null">
          <img src="{{'data:image/jpg;base64,' + product.image3}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
      </mdb-carousel>

      <!-- Dealt image only has one error >
      <mdb-carousel *ngIf="imageNum==1" [indicators]="true" [interval]="0" [dark]="true">
        <mdb-carousel-item *ngIf="product.image1!==null">
          <img src="{{'data:image/jpg;base64,' + product.image1}}" class="d-block w-auto img mx-auto" alt="..." />
        </mdb-carousel-item>
        <mdb-carousel-item *ngIf="product.image2!==null">
          <img src="{{'data:image/jpg;base64,' + product.image2}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
        <mdb-carousel-item *ngIf="product.image3!==null">
          <img src="{{'data:image/jpg;base64,' + product.image3}}" class="d-block w-auto img" alt="..." />
        </mdb-carousel-item>
      </mdb-carousel-->




    </div>
  </div>

</div>