<div class="wrapper mx-auto">
  <div class="form d-flex justify-content-center mx-auto w-50" *ngIf="!isSend">
    <div class="tab-content w-50">
      <div class="tab-pane fade show active mb-5" id="pills-login" role="tabpanel">
        <form [formGroup]="form" (ngSubmit)="sendMail()">
          <h1 class="text-center fcolor"><strong>忘記密碼</strong></h1>
          <!-- Email input -->
          <div>
            <div class="input-group mb-3">
              <input type="text" id="loginid" class="form-control" placeholder="學號" formControlName="account"
                autocomplete="off" required />
              <span class="input-group-text fcolor">@gms.ndhu.edu.tw</span>
            </div>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-warning btn-block mx-auto mb-4 fs-6"
            [disabled]="!form.valid || sending">發送驗證信</button>
          <!-- Register buttons -->
          <div class="text-center">
            <p class="fcolor">或許你...突然想起來了？ <a class="active fw-bolder" style="color:#E4A11B"
                [routerLink]="['/auth']">登入！</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="isSend">
    <app-verify [verifyMode]="isSend"></app-verify>
  </div>
  <p class="mx-auto copyright">BrickTeam &copy; 2023</p>
</div>

<!-- Pills content -->