$bg-color: #d6d1d8;

ul {
  display: block;
  padding: 0 0;
}
.switch-page {
  li {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
  }
  li:hover {
    background-color: $bg-color;
    border-radius: 30px;
    width: 12rem;
  }
  .link-active {
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #e2d8e6;
    border-radius: 30px;
    width: 12rem;
  }
  a {
    display: flex;
    align-items: center;
    color: $bg-color;
  }
}

p {
  margin: 0;
  font-weight: 500;
}

.new-post {
  border: 2px solid #5ab1bb;
  color: #5ab1bb;
  margin: 1rem 0;
  padding: 0.3rem 4rem;
  &.hover {
    // change background when hover to the button
    background-color: #4e98a0;
  }

  p {
    color: #5ab1bb;
    font-size: 1.2rem;
  }
}
