<!-- Pills navs -->
<div class="auth h-100 mx-auto">
  <ul class="nav nav-pills nav-justified mb-3 w-50 mx-auto" role="tablist">
    <!-- switch to login page -->
    <ng-container *ngIf="logMode; else registerMode">
      <li class="nav-item" role="presentation">
        <a class="switch-btn nav-link " id="tab-login" data-mdb-toggle="pill" role="tab">Login</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-register" data-mdb-toggle="pill" role="tab" (click)="logMode=false">Register</a>
      </li>
    </ng-container>
    <!-- switch to register page -->
    <ng-template #registerMode>
      <li class="nav-item" role="presentation">
        <a class="nav-link " id="tab-login" data-mdb-toggle="pill" role="tab" (click)="logMode=true">Login</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="switch-btn nav-link" id="tab-register" data-mdb-toggle="pill" role="tab">Register</a>
      </li>
    </ng-template>
  </ul>
</div>
<div *ngIf="logMode; else regMode">
  <app-login (toReg)="logMode=false"></app-login>
</div>
<ng-template #regMode>
  <app-register (toLog)="logMode=true"></app-register>
</ng-template>